.container {
    height: 800px;

}
.auth-for-container {
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;

}
.auth-for-container .text-input-label,
.auth-for-container .text-input {
display: block;
margin-bottom: 5px;
}

.form-group {
margin: 15px;
}

.auth-for-container .text-input,
.auth-for-container .locations  {
    height: 35px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
}
.auth-for-container .locations {
background-color: white;

}

    .form-group {
        margin-bottom: 15px;
    }
.w-100 {
    width: 100%;
}
.mb-15 {
    margin-bottom: 15px;
}

.btn{
display: block;
font-size: 16px;
height: 35px;
text-align: center;
border: 0;
cursor: pointer;
    }

    .btn-primary {
        background-color: blueviolet;
        color: white;
    }

    .btn-link {
text-decoration: none;
line-height: 35px;
color: blue;
    }
    .btn-link:hover{
        text-decoration: underline;
    }
    

.sex-container {
    display: inline-block;
}

